ion-fab-button {
  --background: #3880ff; /* Couleur du bouton */
}

#mire {
  pointer-events: none; /* Permet de cliquer à travers la mire */
}

#map {
  height: 100vh; /* Prend toute la hauteur de la vue */
  width: 100vw; /* Prend toute la largeur de la vue */
}

ion-list {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
