<ion-content>
  <div id="map">
    <!-- Mire au centre de la carte -->
    <div id="mire" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
      <ion-icon name="add" style="font-size: 32px; color: red;"></ion-icon>
    </div>
  </div>

  <!-- Bouton flottant pour ajouter un point -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPointAtCenter()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
