ion-fab-button {
  --background: #3880ff; /* Couleur du bouton */
}

#mire {
  pointer-events: none; /* Permet de cliquer à travers la mire */
}

#map {
  height: 100vh; /* Prend toute la hauteur de la vue */
  width: 100vw; /* Prend toute la largeur de la vue */
}
